.addOption {
  display: flex;
  padding: $m-size;
  flex-direction: column;
}

.addOption_input {
  background: $dark-blue;
  border: none;
  color: $off-white;
  border-bottom: 0.3rem solid darken($dark-blue, 10%);
  flex-grow: 1;
  margin: 0 0 $s-size 0;
  padding: $s-size;
}

.error-message {
  color: $warning;
  font-style: italic;
  margin: $s-size 0 0 0;
  padding: 0 $s-size;
}
@media (min-width: 45rem) {
  .addOption {
    flex-direction: row;
  }

  .addOption_input {
    margin: 0 $s-size 0 0;
  }
}
