.widget {
  background: $dark-blue;
}

.widget-header {
  background: $dark-blue;
  display: flex;
  justify-content: space-between;
  color: $off-white;
  padding: $m-size;
}

.widget__message {
  border-bottom: 1px solid lighten($dark-blue, 10%);
  color: $off-white;
  margin: 0;
  padding: $l-size;
  text-align: center;
}
